@charset "UTF-8";

h1{
	text-align: center;
	color: darkred;
	font-size: 50pt;
}

h2{
	color: hotpink;
	text-align: left;
	text-indent: 100px;
}

h3{
	color: white;
	text-align: left;
	text-indent: 50px;
}

p{
	color: green;
	text-indent: 25px;
	text-align: justify;
}

header{
	background-color: yellow;
	width: 100%;
	height: 100%;
}


#menu{
	display: block;
	background-color: darkred;
	height: 50px;
}

#menu ul{
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	top: 20%;
	left: 100px;
}

#menu li{
	display: inline-block;
	padding-right: 50px;
	padding-left: 30px;
}

#pf{
	text-align: right;
	color: blueviolet;
}

#a{
	width: 1020px;
	height: 400px;
}
#b{
	float: left;
	width: 750px;
	height: 400px;
	padding-right: 10px;
}
#c{
	padding-left: 10px;
	float: left;
	width: 250px;
	height: 400px;
}
#d{
	width: 1040px;
	height: 3000px;
}
#e{
	float: left;
	width: 250px;
	height: 400px;
	padding-right: 10px;
}
#f{
	float: left;
	width: 500px;
	height: 400px;
	padding-right: 10px;
	padding-left: 10px;
}
#g{
	float: left;
	width: 250px;
	height: 400px;
}
#p{
	width: 1040px;
	height: 1000px;
}
img{
	width: 250px;
	height: 200px;
	padding: 20px;

}